---
BasedOnStyle: Google
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: Align
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignTrailingComments: true
BreakBeforeBraces: Allman
Cpp11BracedListStyle: false
ColumnLimit: 125
IndentWidth: 4
IncludeBlocks: Regroup
FixNamespaceComments: true
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
Standard: Cpp11
...
